@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color : #000000;
    --second-bg-color : #161616;
    --text-color : #fff;
    --main-color: #e1352c;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}
html::-webkit-scrollbar {
    width: 0.8rem;
}
html::-webkit-scrollbar-track {
    background: var(--bg-color);
}
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

/* Header CSS */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Logo Styles */
.logo {
    font-size: 2.5rem;
    font-weight: 800;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo .primary {
    color: var(--text-color);
}

.logo .secondary {
    color: var(--main-color); 
}


/* Navbar Styles */
.navbar {
    display: flex;
    gap: 2rem;
}

.navbar a {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

/* Menu Icon Styles */
#menu-icon {
    font-size: 2.5rem;
    color: var(--main-color);
    display: none;
    cursor: pointer;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 995px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        background: var(--second-bg-color);
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 1rem;
        padding: 2rem;
        display: none;
        flex-direction: column;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        font-size: 1.8rem;
        margin: 1.5rem 0;
    }

    .navbar a:hover,
    .navbar a.active {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
    }
}

/* Section Padding */
section {
    min-height: 100vh;
    padding: 6rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: var(--bg-color);
}
.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
span {
    color: var(--main-color);
}
.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-img {
    border-radius: 50%;
}
.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;  
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;  
}
.home-img img:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--main-color));
}
.home-content p {
    font-size: 1.8rem;
    font-weight: 500;
}
.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}
.social-icon a:hover {
    color: black;
    transform: scale(1.3)translateY(-5px);
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.03);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}
.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span {
    position: relative;
}
.typing-text span::before {
    content: 'Software Developer';
    color: var(--main-color);
    animation: words 20s infinite;
}
.typing-text span::after {
    content: '';
    background: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words {
    0%, 20% {
        content: 'Software Developer';
    }
    21%, 40% {
        content: 'Full-Stack Developer';
    }
    41%, 60% {
        content: 'Game Designer';
    }
    61%, 80% {
        content: 'Cyber-Security Expert';
    }
    81%, 100% {
        content: 'YouTuber';
    }
}
@keyframes typing {
    10%, 15%,
    30%, 35%,
    50%, 55%,
    70%, 75%,
    90%, 95% {
        width: 0;
    }
    5%, 20%,
    25%, 40%,
    45%, 60%,
    65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}
@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}
@media (max-width: 995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .home-content h3 {
        font-size: 2.5rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}

/* Projects Section */
.projects {
    background: var(--second-bg-color);
    padding: 6rem 9%;
}

.heading {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5px;
    margin: 2rem 0 4rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project-box {
    background-color: var(--main-color);
    height: auto;
    border-radius: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    overflow: hidden;
    color: var(--text-color);
}

.project-box:hover {
    background: transparent;
    transform: scale(1.03);
    border: 2px solid var(--main-color);
}

.project-box .project-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.project-info h4 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.project-info p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    color: var(--text-color);
}

/* Responsive Design */
@media (max-width: 991px) {
    section {
        padding: 5rem 6%;
    }
    .projects {
        padding-bottom: 5rem;
    }
    .heading {
        font-size: 4rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 768px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}


/* Skills Section CSS */
.skills {
    background: var(--bg-color);
}
.skills .container {
    background: #e1352c46;
    color: var(--text-color);
    border-radius: 1rem;
    padding: 2rem;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}
.skills .container .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1.8rem;
}
.skills .container .bar {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    background: var(--bg-color);
    transition: 0.3s ease;
    cursor: pointer;
    text-align: center;
}
.skills .container .bar:hover {
    box-shadow: 0 4px 10px var(--main-color);
    transform: scale(1.03);
}
.skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.skills .container .bar .info img {
    max-width: 50px;
    height: auto;
    object-fit: contain;
}
.skills .container .bar .info span {
    font-size: 1.5rem;
    font-weight: 500;
}


/* Experience section */
.experience {
    background: var(--second-bg-color);
}
.experience .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.experience .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: rgb(90, 64, 64);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -2px;
}
.experience .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.experience .container::after {
    content: '\f0b1';
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -17px;
    background-color: rgb(252, 252, 252);
    border: 4px solid var(--main-color);
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.89rem;
    text-align: center;
    font-weight: 600;
    font-family: "Font Awesome\ 5 Free";
    color: rgb(90, 64, 64);
}
.experience .left {
    left: 0;
}
.experience .right {
    left: 50%;
}
.experience .left::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--main-color);
}
.experience .right::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--main-color) transparent transparent;
}
.experience .right::after {
    left: -16px;
}
.experience .content {
    background: var(--main-color);
    position: relative;
    border-radius: 6px;
}
.experience .content .tag {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}
.experience .content .decs {
    margin-left: 1.5rem;
    padding-bottom: 1rem;
}
.experience .content .tag h2 {
    font-size: 2rem;
    font-weight: 600;
    color: black;
}
.experience .content .decs p {
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}
@media screen and (max-width:600px){
    .experience .timeline {
        margin-top: 2rem;
    }  
    .experience .timeline::after {
        left: 31px;
    } 
    .experience .container {
        width: 100%;
        padding-left: 8rem;
        padding-right: 2rem;
    }
    .experience .container::after {
        font-size: 2.2rem;
    }
    .experience .container::before {
        left: 61px;
        border: medium solid var(--main-color);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--main-color) transparent transparent;
    }
    .experience .left::after{
        left: 15px;
    }
    .experience .right::after{
        left: 15px;
    }
    .experience .right {
        left: 0%;
    }
}

/* Contact Section */
.contact h2 {
    margin-bottom: 3rem;
    color: white;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color); /* Fixed variable */
    background-color: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    color: white;
    background-color: var(--main-color);
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.3s;
}

.contact form .btn:hover {
    background-color: var(--hover-color);
}


/* Footer Section */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--main-color);
}
.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: black;
}
.footer .social a {
    font-size: 25px;
    color: black;
    border: 2px solid black;
    width: 42px;
    height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}
.footer .social a:hover {
    transform: scale(1.2)translateY(-5px);
    background: black;
    color: var(--main-color);
}
.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: black;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover {
    border-bottom: 3px solid black;
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: black;
}
@media(max-width:1285px) {
    html {
        font-size: 55%;
    }
    .projects-container {
        padding-bottom: 7rem;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 5rem;
    }
}
@media(max-width:991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .projects {
        padding-bottom: 7rem;
    }
    .footer {
        padding: 2rem 3%;
    }
}
@media (max-width:895) {
    .projects h2 {
        margin-bottom: 3rem;
    }
    .projects-container {
        grid-template-columns: repeat(1,1fr);
    }
}